*{
    box-sizing: border-box !important;
	overflow-x: hidden !important;
}


.footer-text{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 15px;
}

.second-item{
    background-color: #bcf6e6;
    height: 50px;
}
.control a,nav a {
	color: #03a1fc !important;
}

.second-item p{
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.card-body button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
    display: flex;
    justify-content: right;	
}

.card-left{
    height: 650px;
    background-color: white;
}

.leftc{
    background-color: white;
    padding: 0;
}

.top-card{
    height: 200px;
}

.content-card{
    height: 50px;
    background-color: white;
    margin-top: 10px;
}

.search-bar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.form-outline{
    max-width: 80%;
    min-width: 80%;
}

.nav-item{
    margin-left: 20px;
}

.card-info{
    display: flex;
    justify-content: center;
    background-color: white;
}

.card-block{
    margin-left: 0px;
}

.container {
	min-height: calc(120vh - 265px);
}

.content-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-body p{
    margin-bottom: 0;
}

.image-body{
    display: flex;
    justify-content: center;
}


.content-body img{
    max-width: 100%;
    max-height: 100%;
}

.content-top{
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 30px;
}

.content-top p{
    margin-bottom: 0;
}

.image-top{
    display: flex;
    justify-content: center;
    height: 300px;
}

.cv-top{
    display: flex;
    justify-content: left;
    color:rgba(143, 142, 142, 0.959)
}

table{
    min-width: 100%;
    background-color: white;
    color: black;
}

.card-task{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

td p{
    margin-bottom: 0;
}
.thumbnail {
	width:150px; 
	height: 150px; 
	display: block; 
	margin: auto
}
.avatar  {
	overflow-y: hidden !important;
	/* Font & Text */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 14px;
	text-decoration: none solid rgb(88, 166, 255);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(13, 17, 23);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(88, 166, 255);

	/* Box */
	height: 296px;
	width: 296px;
	border: 1px solid rgb(48, 54, 61);
	border-top: 1px solid rgb(48, 54, 61);
	border-right: 1px solid rgb(48, 54, 61);
	border-bottom: 1px solid rgb(48, 54, 61);
	border-left: 1px solid rgb(48, 54, 61);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 1px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	word-wrap: break-word;
	box-shadow: rgba(240, 246, 252, 0.1) 0px 0px 0px 1px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.nhanvien tr:hover {
	background-color: #a29bfe;
	transition:0.5;
}

#changeinfo td:hover {
	background-color: #a29bfe;
	transition:0.5;
}

.item a{
	background-color: white !important;
}

#content img {
	width: 100% !important;
}

#toast{
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 99999;
}

.toast{
display: flex;
align-items: center;
background-color: #fff;
border-radius: 2px;
padding: 5px 0;
min-width: 400px;
max-width: 450px;
border-left: 4px solid;
box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
transition: all linear .3s;
}


@keyframes slideInLeft {
	from{
		opacity: 0;
		transform: translateX(calc(100% + 32px));
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	to{
		opacity: 0;
	}
}

.toast__body{
	flex-grow: 1;
}

.toast + .toast{
	margin-top: 24px;
}

.toast--success{
	border-color: #47d864;
	background-color: #D0F5A9;
}

.toast--error{
	border-color: #ff623d;
	background-color: #F6D8CE;
}

.toast__icon{
	font-size: 24px;
}

.toast__title{
	font-size: 16px;
	font-weight: 600;
	color: #333;
}

.toast__msg{
	font-size: 14px;
	color: #888;
}

.toast--success .toast__icon{
	color: #47d864;
}

.toast--error .toast__icon{
	color: #ff623d;
}

.toast__icon, .toast__close{
	padding: 0 16px;
}

.toast__close{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.3);
}


