html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.text-color {
    color: #a29bfe;
}

.heading {
    background-color: #a29bfe;
}

.logo-box {
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    cursor: pointer;
}

.logo-box span {
    font-size: 12px;
}

.nav-list li a {
    font-size: 20px;
}

.notification a,
.cart a {
    position: relative;
}

.notification a span,
.cart a span {
    font-size: 10px;
    position: absolute;
    top: 15%;
    left: 65%;
    background-color:orangered;
    min-width: 13px;
    height: 13px;
    border-radius: 100rem;
}

.user-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-features .notification,
.user-features .cart {
    font-size: 20px;
    cursor: pointer;
}

.user-features .login-box button{
    font-weight: 500;
    font-size: 12px;
}

.main {
    background-color: rgba(162, 155, 254,0.3);
    padding-top: 72px;
}

.category ul{
    font-weight: 500;
    cursor: pointer;
}


.category .category-item {
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.category .category-item:hover {
    background-color: #a29bfe;
    color: #fff;
}

.category .category-item:hover span {
    transform: translateX(4px);
}

.slider .slide-image img{
    height: 410px;
    object-fit: cover;
}

.image--shadow {
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 10%);
}

.image--shadow img {
    width: 100%;
    cursor: pointer;
}

.event-title {
    font-size: 13px;
    font-weight:600 ;
    cursor: pointer;
}

.product-title {
    font-size: 24px;
    font-weight: 700;
}

.product-item-image,
.product-item-name {
    cursor: pointer;
}

.product-item-image:hover {
    transform: scale(1.05);
}

.product-item-price {
    color: #fc4e03;
    font-size: 18px;
    font-weight: 500;
}

.product-item-buy button{
    border-radius: 100rem;
}

.footer {
    background-color: rgba(162, 155, 254,0.3);
}

.footer-info {
    font-size: 12px;
    display: flex;
    align-items: flex-start;
}

.contact-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.contact strong {
    font-weight: 600;
}

.social-text {
    text-transform: uppercase;
    font-weight: 600;
}

.social-icon {
    font-size: 25px;
}

.note {
    background-color: #ffedba;
    border-radius: 8px;
}

.detail-name {
    font-size: 24px;
}

.detail-price {
    font-size: 30px;
    color: #fc4e03;
    font-weight: 700;
}

.note-text {
    display: flex;
}

.note-text i {
    color: #a29bfe;
}

.quantity-text {
    font-size: 16px;
    font-weight: 600;
}

.adjust-btn {
    height: 38px;
    width: 38px;
    background-color: rgba(162, 155, 254,0.3);
    border-color: rgba(162, 155, 254,0.5);
}

.adjust-btn:hover {
    background-color: rgba(162, 155, 254,0.5);
    border-color: rgba(162, 155, 254,0.5);
    color: #a29bfe;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-number {
    height: 38px;
    width: 38px;
    text-align: center;
    font-weight: 500;
    color: #333;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.quantity-number:hover,
.quantity-number:focus {
    border-color: #a29bfe;
}

.detail-buy button {
    text-transform: uppercase;
    border-radius: 100rem;
}

/* STYLE FOR NEWS */

.news > div > h1 {
    font-size: 20px;
}

.news > div:first-child {
    display: block;
}

.news-category {
    border: 2px solid rgba(179, 178, 180, 0.336);
    border-radius: 0;
}


.news-category >div:first-child{
    padding: 8px 0 !important;
}

.news-category > div:nth-child(2) > ul > li {
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 8px;
}

.news-category > div:nth-child(2) > ul > li::marker {
    font-size: 10px;
}

.news-category > div:nth-child(2) > ul > li > a:hover {
    text-decoration: none;
}

.news-title {
    padding: 5px 0;
    padding-bottom: 12px;
    font-size: 15px;
}

.news-title > a:hover {
    text-decoration: none;
}

.news-description {
    font-size: 13px;
    line-height: 22px;
}

.news-description > p > strong {
    font-weight: normal;
}

.news-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(233, 233, 233);
}

.news-image > a > img {
    max-height: 200px;
    vertical-align: middle;
    display: inline-block;
}

.contact > div:nth-child(2) > ul > li {
    list-style-type: none;
}